* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  scroll-behavior: smooth;
}



/* NavBar */

.navbar__m1 {
  display: none;
}

.navbar__m2 {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 5;
}

.navbar__s1 {
  display: flex;
  align-items: center;
  color: #002B11;
}

.navbar__s2 {
  display: flex;
  align-items: center;
  gap: 25px;
  color: #002B11;
}

.navbar__s2 p {
  padding: 10px;
  border-radius: 30px;
}

.navbar__s3 {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #002B11;
  padding: 10px;
  border-radius: 30px;
}

.navbar__s3__line {
  color: lightgray;
}

.navbar button {
  color: white;
  background-color: #002B11;
  padding: 10px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.navbar__s2 p:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.navbar__s3:hover {
  background-color: lightgray;
  cursor: pointer;
}





/* Search Section */


.search {
  text-align: center;
}

.search__title h1 {
  font-size: 4vw;
}

.search__desc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10px;
  margin-top: 20px;
  color: #002B11;
}


.search__desc>div {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  white-space: nowrap;
  padding: 10px;
}

.search__desc div:hover {
  background-color: lightgrey;
  border-radius: 30px;
}

.search__input {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.search__input__desc {
  border: none;
  padding: 15px;
  border-radius: 30px;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  align-items: center;
  gap: 10px;
  background-color: #F7F7F7;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search__input__desc input {
  border: none;
  font-size: 15px;
  width: 100%;
  background-color: #F7F7F7;
}

.search__input__desc input:focus {
  outline: none;
}

.search__input__desc button {
  background-color: #00E55B;
  padding: 15px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.search-input__mobile {
  display: none;
}




/* Welcome Image Section */


.welcome-images {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.welcome-images__img {
  flex-basis: 80%;
  position: relative;
}

.welcome-images-img__main {
  border-radius: 30px;
}

.welcome-images-img__small {
  position: absolute;
  right: 30px;
  top: 30px;
}

.welcome-images__titles {
  color: white;
  position: absolute;
  bottom: 30px;
  left: 20px;
}

.welcome-images__titles__button {
  padding: 15px;
  background-color: white;
  border-radius: 30px;
  cursor: pointer;
}






/* Food Section */


.food-section {
  margin-top: 70px;
}

.food-section__title {
  margin-left: 40px;
  color: #002B11;
}

.food-section__container {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  padding: 0 30px;
}

.food-section__container img {
  border-radius: 20px;
}

.food-section__container div {
  position: relative;
}

.food-section__container h2 {
  position: absolute;
  left: 30px;
  bottom: 15px;
  color: white;
  text-shadow:
    0 0 3px rgba(0, 0, 0, 0.45),
    0 0 8px rgba(0, 0, 0, 0.35);
}



/* Explore Coimbatore */


.explore-coimbatore {
  margin-top: 30px;
}

.explore-coimbatore__title {
  color: #002B11;
  margin-left: 40px;
}

.explore-coimbatore__images {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  padding: 0 30px;

}

.explore-coimbatore__img {
  width: 350px;
}

.explore-coimbatore__img img {
  border-radius: 20px;
  width: 100%;
  object-fit: contain;
}

.explore-coimbatore__img h4 {
  margin-left: 15px;
  color: #002B11;
}

.explore-coimbatore__img p {
  margin-left: 15px;
  color: #002B11;
}




/* Thing DO To Section */


.thing-to-do {
  margin-top: 50px;
}

.thing-to-do__title {
  color: #002B11;
  margin-left: 40px;
}

.thing-to-do__container {
  margin-top: 15px;
  display: flex;
  gap: 20px;
  padding: 0 30px;
}

.thing-to-do__img {
  width: 350px;
}

.thing-to-do__img img {
  border-radius: 20px;
  width: 100%;
  object-fit: contain;
}

.thing-to-do__img h4,
.thing-to-do__img p,
.thing-to-do__img h5 {
  color: #002B11;
  margin-left: 15px;
}

.thing-to-do__img button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: #002B11;
  margin-left: 15px;
}





/* Next Trip */


.next-trip {
  margin-top: 50px;
}

.next-trip__title {
  color: #002B11;
  margin-left: 40px;
}

.next-trip__images {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  padding: 0 30px;
}

.next-trip__img {
  width: 350px;
  position: relative;
}

.next-trip__img img {
  border-radius: 20px;
  width: 100%;
  object-fit: contain;
}

.next-trip__img h3 {
  color: white;
  position: absolute;
  left: 10px;
  bottom: 20px;
}




/* Iconic Places */


.iconic-place {
  margin-top: 50px;
}

.iconic-place__title {
  color: #002B11;
  margin-left: 40px;
}

.iconic-place__images {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  padding: 0 30px;
}

.iconic-place__img {
  width: 350px;
  position: relative;
}

.iconic-place__img img {
  border-radius: 20px;
  width: 100%;
  object-fit: contain;
}

.iconic-place__img h2 {
  color: white;
  position: absolute;
  left: 10px;
  bottom: 20px;
  text-shadow:
    0 0 3px rgba(0, 0, 0, 0.45),
    0 0 8px rgba(0, 0, 0, 0.35);
}



/* Browsed Theme */


.browsed-theme {
  margin-top: 50px;
}

.browsed-theme__title {
  color: #002B11;
  margin-left: 40px;
}

.browsed-theme__images {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  padding: 0 30px;
}

.browsed-theme__img {
  width: 350px;
  position: relative;
}

.browsed-theme__img img {
  border-radius: 20px;
  width: 100%;
  object-fit: contain;
}

.browsed-theme__img h3 {
  position: absolute;
  left: 20px;
  bottom: 70px;
  color: white;
}

.browsed-theme__img p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: #002B11;
  margin-left: 15px;
}





/* footer */

.footer {
  background-color: #f7f7f7;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
  padding-top: 20px;
}

.footer p {
  padding-top: 10px;
}

.rights {
  background-color: #F7F7F7;
  width: 100%;
  display: flex;
  padding-top: 50px;
  justify-content: start;
}

.rights img {
  width: 50px;
  height: 50px;
  padding-left: 130px;
}

.rights p {
  padding-top: 15px;
  font-size: 10px;
}



.footer-mobile {
  display: none;
}















/* Media Queries */

@media screen and (max-width:768px) {

  .navbar__m1 {
    display: flex;
    align-items: center;
  }

  .navbar__m2 {
    display: flex;
    align-items: center;
  }

  .navbar {
    align-items: center;
    margin-top: 15px;
    justify-content: space-between;
    padding: 15px 25px;
  }

  .navbar__s1 {
    gap: 5px;
  }

  .navbar__s2 {
    display: none;
  }

  .navbar__s3 {
    display: none;
  }

  .navbar button {
    display: none;
  }

  .search__title {
    display: none;
  }

  .search__desc {
    overflow-x: auto;
    white-space: nowrap;
    gap: 10px;
    scroll-behavior: smooth;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }

  .search__desc>div {
    flex-shrink: 0;
  }

  .search__desc::-webkit-scrollbar {
    display: none;
  }

  .search__input {
    display: none;
  }


  .search-input__mobile {
    margin-top: 20px;
    background-color: #efefef;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .inputbox__mobile {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    background-color: #efefef;
    padding: 10px 10px;
  }

  .inputbox__mobile input {
    background-color: #efefef;
    border: none;
    font-size: 15px;
    width: 100%;
  }

  .inputbox__mobile input:focus {
    outline: none;
  }

  .search-input__mobile button {
    background-color: #00EB5B;
    border: none;
    padding: 15px 20px;
    border-radius: 50px;
    margin: 0 auto;
    width: 80%;
  }

  .search-input__mobile hr {
    border: none;
    border-top: 3px solid #d4d5d6;
    width: 90%;
    margin: auto;
  }

  .welcome-images-img__small {
    right: 15px;
    top: 15px;
  }

  .welcome-images__titles {
    color: white;
    position: absolute;
    bottom: 13px;
    left: 15px;
  }

  .welcome-images__titles h1 {
    font-size: 12px;
  }

  .welcome-images__titles p {
    font-size: 10px;
  }

  .welcome-images__titles__button {
    padding: 10px;
    font-size: 10px;
  }


  .food-section {
    margin-top: 30px;
  }


  .food-section__title {
    font-size: 12px;
    margin-left: 20px;
  }

  .food-section__container {
    display: flex;
    overflow-x: auto;
    gap: 12px;
    padding: 0 15px;
    scroll-behavior: smooth;
    white-space: nowrap;
  }


  .food-section__container>div {
    width: 250px;
    flex-shrink: 0;
    position: relative;
  }

  .food-section__container img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
  }

  .food-section__container h2 {
    position: absolute;
    left: 12px;
    bottom: 14px;
    font-size: 14px;
    color: white;
  }

  .food-section__container::-webkit-scrollbar {
    display: none;
  }


  .explore-coimbatore {
    margin-top: 30px;
  }

  .explore-coimbatore__title {
    font-size: 12px;
    margin-left: 20px !important;
  }

  .explore-coimbatore__images {
    display: flex;
    overflow-x: scroll;
    gap: 15px;
    scroll-behavior: smooth;
    padding: 0 15px !important;
  }

  .explore-coimbatore__images>.explore-coimbatore__img {
    flex-shrink: 0;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
  }

  .explore-coimbatore__img img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .explore-coimbatore__img h4,
  .explore-coimbatore__img p {
    margin-top: 5px;
    white-space: normal;
    font-size: 12px;
  }

  .explore-coimbatore__images::-webkit-scrollbar {
    display: none;
  }


  .thing-to-do {
    margin-top: 30px;
  }

  .thing-to-do__title {
    font-size: 12px;
    margin-left: 20px !important;
  }

  .thing-to-do__container {
    display: flex;
    overflow-x: scroll;
    gap: 15px;
    scroll-behavior: smooth;
    padding: 0 15px !important;
  }

  .thing-to-do__img {
    flex-shrink: 0;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
  }

  .thing-to-do__img img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .thing-to-do__img h4,
  .thing-to-do__img p,
  .thing-to-do__img h5 {
    margin-top: 5px;
    white-space: normal;
    font-size: 12px;
  }

  .thing-to-do__container::-webkit-scrollbar {
    display: none;
  }



  .next-trip {
    margin-top: 30px;
  }

  .next-trip__title {
    font-size: 10px !important;
    margin-left: 20px !important;
  }

  .next-trip__images {
    display: flex;
    overflow-x: scroll;
    gap: 15px;
    scroll-behavior: smooth;
    padding: 0 15px !important;
  }

  .next-trip__img {
    flex-shrink: 0;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
  }

  .next-trip__img img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .next-trip__img h3 {
    margin-top: 5px;
    white-space: normal;
    font-size: 12px;
    left: 25px;
    bottom: 35px;
  }

  .next-trip__images::-webkit-scrollbar {
    display: none;
  }


  .iconic-place {
    margin-top: 30px;
  }

  .iconic-place__title {
    font-size: 10px !important;
    margin-left: 20px !important;
  }

  .iconic-place__images {
    display: flex;
    overflow-x: scroll;
    gap: 15px;
    scroll-behavior: smooth;
    padding: 0 15px !important;
  }

  .iconic-place__img {
    flex-shrink: 0;
    width: 250px !important;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
  }

  .iconic-place__img img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .iconic-place__img h2 {
    margin-top: 5px;
    white-space: normal;
    font-size: 12px;
    left: 25px !important;
    bottom: 30px !important;
  }

  .iconic-place__images::-webkit-scrollbar {
    display: none;
  }



  .browsed-theme {
    margin-top: 30px;
  }

  .browsed-theme__title {
    font-size: 10px !important;
    margin-left: 20px !important;
  }

  .browsed-theme__images {
    display: flex;
    overflow-x: scroll;
    gap: 15px;
    scroll-behavior: smooth;
    padding: 0 15px !important;
  }

  .browsed-theme__img {
    flex-shrink: 0;
    width: 250px !important;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
  }

  .browsed-theme__img img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .browsed-theme__img h3 {
    margin-top: 5px;
    white-space: normal;
    font-size: 12px;
    left: 25px !important;
    bottom: 80px !important;
    color: #fff;
  }

  .browsed-theme__images::-webkit-scrollbar {
    display: none !important;
  }


  .footer__s1,
  .footer__2,
  .footer__3,
  .footer__4 {
    display: none;
  }

  .rights img {
    padding-left: 20px;
  }



  .footer-mobile {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
  }

  .footer__m1,
  .footer__m2,
  .footer__m3,
  .footer__m4,
  .footer__m5 {
    display: flex;
    justify-content: space-between;
    color: #514d4d;
    padding: 5px 0;
  }



}